DATABASE_URL=postgresql://sasson:sasson@localhost:5432/sasson
REDIS_URL=redis://localhost:6379
TELEGRAM_BOT_TOKEN=
PORT=3000
SPORTS_API_KEY=
SPORTS_API_BASE_URL=https://v3.football.api-sports.io
ADMIN_CODE=